#submit_button
{
    margin-top: 20px;
    margin-bottom:20px;
}

#sort_button
{
    margin-top: 20px;
    margin-bottom:20px;
    display: none; 
}

input
{
    margin: 10px;
}

h3
{
    margin-top: 20px;
    margin-bottom:20px;
}
#display_sname
{
    border: 1px solid chocolate;
    padding: 10px;
    background-color: gold;
    border-radius: 10px;
    width: 50%;
}